@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
<body>
@using (Html.BeginForm("Submit", "Questionnaire", FormMethod.Post))
{
    @Model.QuestionnaireTitle
    <p>What if the answers is multiple choice</p>

    for(int i = 0; i < Model.QuestionAnswers.Count;i++) 
     {
         <div class="form-control">
             @Html.LabelFor(x => Model.QuestionAnswers[i].QuestionText, Model.QuestionAnswers[i].QuestionText)
             @Html.HiddenFor(x=> Model.QuestionAnswers[i].QuestionText)
             @for(int j=0; j < Model.QuestionAnswers[i].Answer.Count;j++)
             {
                 @Html.RadioButtonFor(x=>Model.QuestionAnswers[i].Selected , Model.QuestionAnswers[i].Answer[j].AnswerText)
                
                <label class="control-label">@Model.QuestionAnswers[i].Answer[j].AnswerText</label>
             }
             
         </div>
     }
    <input type="submit"/>

}

</body>
</html>
